	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/08/2019 06:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-elearning:before { content: "\f100"; }
.flaticon-ebook:before { content: "\f101"; }
.flaticon-ebook-1:before { content: "\f102"; }
.flaticon-ebook-2:before { content: "\f103"; }
.flaticon-studies:before { content: "\f104"; }
.flaticon-myth:before { content: "\f105"; }
.flaticon-haunted-house:before { content: "\f106"; }
.flaticon-story:before { content: "\f107"; }
.flaticon-unicorn:before { content: "\f108"; }
.flaticon-fairy-tale:before { content: "\f109"; }
.flaticon-magic-wand:before { content: "\f10a"; }
.flaticon-fortress:before { content: "\f10b"; }
.flaticon-fairy-tale-1:before { content: "\f10c"; }
.flaticon-alien:before { content: "\f10d"; }
.flaticon-space-ship:before { content: "\f10e"; }
.flaticon-lightsaber:before { content: "\f10f"; }
.flaticon-knight:before { content: "\f110"; }
.flaticon-knight-1:before { content: "\f111"; }
.flaticon-miscellaneous:before { content: "\f112"; }
.flaticon-miscellaneous-1:before { content: "\f113"; }
.flaticon-privateer:before { content: "\f114"; }
.flaticon-privateer-1:before { content: "\f115"; }
.flaticon-armour:before { content: "\f116"; }
.flaticon-armour-1:before { content: "\f117"; }
.flaticon-aristocracy:before { content: "\f118"; }
.flaticon-aristocracy-1:before { content: "\f119"; }
.flaticon-crown:before { content: "\f11a"; }
.flaticon-tickets:before { content: "\f11b"; }
.flaticon-theater:before { content: "\f11c"; }
.flaticon-audio-system:before { content: "\f11d"; }
.flaticon-theater-masks:before { content: "\f11e"; }
.flaticon-curtain:before { content: "\f11f"; }
.flaticon-theatre:before { content: "\f120"; }
.flaticon-karaoke:before { content: "\f121"; }
.flaticon-karaoke-1:before { content: "\f122"; }
.flaticon-microphone:before { content: "\f123"; }
.flaticon-microphone-1:before { content: "\f124"; }
.flaticon-microphone-for-a-singer-or-a-conference:before { content: "\f125"; }
.flaticon-mic:before { content: "\f126"; }
.flaticon-singer:before { content: "\f127"; }
.flaticon-birthday-and-party:before { content: "\f128"; }
.flaticon-cooking-on-fire:before { content: "\f129"; }
.flaticon-cook:before { content: "\f12a"; }
.flaticon-pan:before { content: "\f12b"; }
.flaticon-cook-1:before { content: "\f12c"; }
.flaticon-contract:before { content: "\f12d"; }
.flaticon-contract-1:before { content: "\f12e"; }
.flaticon-survey:before { content: "\f12f"; }
.flaticon-podcast:before { content: "\f130"; }
.flaticon-podcast-1:before { content: "\f131"; }
.flaticon-podcast-2:before { content: "\f132"; }
.flaticon-podcast-3:before { content: "\f133"; }
.flaticon-podcast-4:before { content: "\f134"; }
.flaticon-podcast-5:before { content: "\f135"; }
.flaticon-podcast-6:before { content: "\f136"; }
.flaticon-web:before { content: "\f137"; }
.flaticon-data:before { content: "\f138"; }
.flaticon-computer:before { content: "\f139"; }
.flaticon-web-design:before { content: "\f13a"; }
.flaticon-coding:before { content: "\f13b"; }
.flaticon-programming:before { content: "\f13c"; }
.flaticon-paper-scroll:before { content: "\f13d"; }
.flaticon-scroll:before { content: "\f13e"; }
.flaticon-pillar:before { content: "\f13f"; }
.flaticon-pillar-1:before { content: "\f140"; }
.flaticon-pillar-2:before { content: "\f141"; }
.flaticon-rosetta-stone:before { content: "\f142"; }
.flaticon-rosetta-stone-1:before { content: "\f143"; }
.flaticon-study:before { content: "\f144"; }
.flaticon-ancient:before { content: "\f145"; }
.flaticon-ancient-1:before { content: "\f146"; }
.flaticon-architecture-and-city:before { content: "\f147"; }
.flaticon-clay:before { content: "\f148"; }
.flaticon-clay-1:before { content: "\f149"; }
.flaticon-castle-1:before { content: "\f14a"; }
.flaticon-architecture-and-city-2:before { content: "\f14b"; }
.flaticon-boombox:before { content: "\f14c"; }
.flaticon-turntable:before { content: "\f14d"; }
.flaticon-music-player:before { content: "\f14e"; }
.flaticon-mic-1:before { content: "\f14f"; }
.flaticon-headphones:before { content: "\f150"; }
.flaticon-music-sheet:before { content: "\f151"; }
.flaticon-piano:before { content: "\f152"; }
.flaticon-classical-music:before { content: "\f153"; }
.flaticon-web-design-1:before { content: "\f154"; }
.flaticon-troubleshooting:before { content: "\f155"; }
.flaticon-computer-graphic:before { content: "\f156"; }
.flaticon-repair:before { content: "\f157"; }
.flaticon-creative-process:before { content: "\f158"; }
.flaticon-technical-support:before { content: "\f159"; }
.flaticon-laptop:before { content: "\f15a"; }
.flaticon-settings:before { content: "\f15b"; }
.flaticon-global:before { content: "\f15c"; }
.flaticon-settings-1:before { content: "\f15d"; }
.flaticon-laptop-1:before { content: "\f15e"; }
.flaticon-makeup:before { content: "\f15f"; }
.flaticon-cosmetics:before { content: "\f160"; }
.flaticon-makeup-1:before { content: "\f161"; }
.flaticon-email:before { content: "\f162"; }
.flaticon-telephone:before { content: "\f163"; }
.flaticon-phone-call:before { content: "\f164"; }
.flaticon-domain:before { content: "\f165"; }
.flaticon-coding-1:before { content: "\f166"; }
.flaticon-magic:before { content: "\f167"; }
.flaticon-wizard:before { content: "\f168"; }
.flaticon-witch:before { content: "\f169"; }
.flaticon-book:before { content: "\f16a"; }
.flaticon-spell-book:before { content: "\f16b"; }
.flaticon-spellbook:before { content: "\f16c"; }
.flaticon-spellbook-1:before { content: "\f16d"; }
.flaticon-dragon-1:before { content: "\f16e"; }
.flaticon-dragon-2:before { content: "\f16f"; }
.flaticon-dragon-3:before { content: "\f170"; }
.flaticon-dragon-4:before { content: "\f171"; }
.flaticon-dragon-5:before { content: "\f172"; }
.flaticon-dragon-6:before { content: "\f173"; }
.flaticon-ebook-3:before { content: "\f174"; }
.flaticon-ebook-4:before { content: "\f175"; }
.flaticon-mail:before { content: "\f176"; }
.flaticon-placeholder:before { content: "\f177"; }
.flaticon-internet:before { content: "\f178"; }
.flaticon-smartphone:before { content: "\f179"; }
.flaticon-phone-book:before { content: "\f17a"; }
.flaticon-design:before { content: "\f17b"; }
.flaticon-pen:before { content: "\f17c"; }
.flaticon-graphic-tablet:before { content: "\f17d"; }
.flaticon-vector-graphic:before { content: "\f17e"; }
.flaticon-art-and-design:before { content: "\f17f"; }
.flaticon-planning:before { content: "\f180"; }
.flaticon-seo:before { content: "\f181"; }
.flaticon-idea:before { content: "\f182"; }
.flaticon-tv:before { content: "\f183"; }
.flaticon-application:before { content: "\f184"; }
.flaticon-pencil:before { content: "\f185"; }
.flaticon-web-design-2:before { content: "\f186"; }
.flaticon-document:before { content: "\f187"; }
.flaticon-theme:before { content: "\f188"; }
.flaticon-settings-2:before { content: "\f189"; }
.flaticon-feature:before { content: "\f18a"; }
.flaticon-programming-1:before { content: "\f18b"; }
.flaticon-mockup-design:before { content: "\f18c"; }
.flaticon-mockup:before { content: "\f18d"; }
.flaticon-edit-text:before { content: "\f18e"; }
.flaticon-warning:before { content: "\f18f"; }
.flaticon-responsive-1:before { content: "\f190"; }
.flaticon-repair-1:before { content: "\f191"; }
.flaticon-analytics:before { content: "\f192"; }
.flaticon-web-design-3:before { content: "\f193"; }
.flaticon-web-design-4:before { content: "\f194"; }
.flaticon-content:before { content: "\f195"; }
.flaticon-file:before { content: "\f196"; }
.flaticon-sketch:before { content: "\f197"; }
.flaticon-edit:before { content: "\f198"; }
.flaticon-testing:before { content: "\f199"; }
.flaticon-browser:before { content: "\f19a"; }
.flaticon-ui:before { content: "\f19b"; }
.flaticon-website:before { content: "\f19c"; }
.flaticon-code:before { content: "\f19d"; }
.flaticon-error:before { content: "\f19e"; }
.flaticon-maintenance:before { content: "\f19f"; }
.flaticon-cms:before { content: "\f1a0"; }
.flaticon-cms-1:before { content: "\f1a1"; }
.flaticon-cms-2:before { content: "\f1a2"; }
.flaticon-computer-1:before { content: "\f1a3"; }
.flaticon-files-and-folders:before { content: "\f1a4"; }
.flaticon-file-1:before { content: "\f1a5"; }
.flaticon-review:before { content: "\f1a6"; }
.flaticon-file-2:before { content: "\f1a7"; }
.flaticon-contract-2:before { content: "\f1a8"; }
.flaticon-file-3:before { content: "\f1a9"; }
.flaticon-doc:before { content: "\f1aa"; }
.flaticon-html:before { content: "\f1ab"; }
.flaticon-file-5:before { content: "\f1ac"; }
.flaticon-file-6:before { content: "\f1ad"; }
.flaticon-file-7:before { content: "\f1ae"; }
.flaticon-file-8:before { content: "\f1af"; }
.flaticon-file-9:before { content: "\f1b0"; }
.flaticon-make-up-kit:before { content: "\f1b1"; }
.flaticon-make-up:before { content: "\f1b2"; }
.flaticon-cosmetics-1:before { content: "\f1b3"; }