/*-------------------------------------
[Master Stylesheet]
Project:	    Decent Material CV | Resume
Author:         Mohammad Asif
Theme URI:      http://demo.ravelweb.com/material-cv
Description:    The All in One Material CV | Resume Template
Version:	    2.0
----------------------------------------*/
/*--------------------------------------
          TABLE OF CONTENTS
----------------------------------------
    1. STYLESHEET
        1.1. BODY
        1.2. TYPOGRAPHY
        1.3. COMPONENT
    2. PAGE LOADER
    3. SECTION STRUCTURE
    4. CONTAINER STRUCTURE
    5. HEADER
        5.1. NAV
        5.2. SIDE NAV
    6. ABOUT
        6.1. PROFILE
        6.2. INTRO
        6.3. BUTTON (CV DOWNLOAD & CONTACT)
    7. TIMELINE - EXPERIENCE AND EDUCATION TIMELINE
        7.1. HEADING
        7.2. SUMMERY
    8. SKILLS
        8.1. SKILL HEADLINE
        8.2. SKILL PROGRESS
    9. SERVICES
        9.1. SERVICE ICON
        9.2. SERVICES TITLE
        9.3. SERVICES INFO
    10. PORTFOLIO
        10.1. FILTER OPTIONS
        10.2. FILTER CONTAINER
            10.2.1. PORTFOLIO
            10.2.2. PORTFOLIO IMAGE
            10.2.3. PORTFOLIO TITLE
        10.3. MODAL
            10.3.1. MODAL IMAGE
            10.3.2. LIVE DEMO BUTTON
            10.3.3. MODAL CONTENT
    11. ACHIEVEMENT
        11.1. ACHIEVEMENT HEADING
        11.2. ACHIEVEMENT ICON & DATE
        11.3. ACHIEVEMENT CONTENT
    12. PUBLICATIONS
        12.1. ICON
        12.2. TITLE
        12.3. INFO
        12.4. READ BUTTON
    13. BLOG
        13.1. BLOG IMAGE
        13.2. BLOG TITLE
        13.3. TIME AND FAVORITE
        13.4. READ MORE BUTTON
        13.5. BLOG ARTICLE DEMO
        13.5. VISIT BLOG BUTTON
    14. CLIENTS
        14.1.  CLIENTS SLIDER
            14.1.1.  CLIENTS REFERENCE
        14.3.  CLIENTS LOGO
    15. PRICING TABLE
        15.1. MONTHLY AND YEARLY BUTTON
        15.2. MONTHLY AND YEARLY PRICING
    16. INTEREST
        16.1. INTEREST CONTENT
        16.1. INTEREST ICON & NAME
    17. CONTACT
        17.1. INFORMATION
        17.2. CONTACT FORM
        17.3. LOCATION MAP
    18. FULL BLOG
        18.1. BLOG HEADER
        18.2. BLOG PAGE
            18.2.1. POST WRAPPER
                  18.2.1.1. BLOG POST ITEM
                  18.2.1.1. PAGINATION
            18.2.1. BLOG SIDEBAR
                18.2.1.1. SEARCH
                18.2.1.2. CATEGORY
                18.2.1.3. RECENT POST
                18.2.1.4. POPULAR POST
                18.2.1.5. POPULAR POST
                18.2.1.6. ABOUT AUTHOR
                18.2.1.7. FOLLOW
    19. SINGLE POST
        19.1. POST WRAPPER
              19.1.1. FULL POST
              19.1.2. COMMENT BOX
              19.1.3. POSTED COMMENT
    20. FOOTER
----------------------------------------*/
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/*---------------------------------------- Used Colors ----------------------------------------*/
/* Now You Can Directly Change Colors By Replacing From .CSS file*/
.colors-shadow {
  /*primary-color: #455A64;
  primary-color-dark: #263137;
  primary-color-light: #4f6873;
  accent-color: #D32F89;
  accent-color-dark: #419645;
  accent-color-light: #63bb67;
  overlay: rgba(0, 0, 0, 0.5);
  body-color: #fafafa;
  divider-color: #dddddd;
  font-color-light: #d5d5d5;
  font-color-dark: #606060;
  p-color: #606060;
  hover-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);
  navigation-box-shadow: 0px 0px 3px 1px #263137;
  box-shadow: 0px 1px 5px 2px #7d7d7d;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
  card-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/ }

/*---------------------------------------- Used Colors ----------------------------------------*/
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'florencesans_sc_expregular';
  src: url('fonts/Florence/florsn29-webfont.woff2') format('woff2'),
       url('fonts/Florence/florsn29-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'florencesans_sc_expbold';
  src: url('fonts/Florence/florsn30-webfont.woff2') format('woff2'),
       url('fonts/Florence/florsn30-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'florencesans_scregular';
  src: url('fonts/Florence/florsn17-webfont.woff2') format('woff2'),
       url('fonts/Florence/florsn17-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'florencesans_sc_condregular';
  src: url('fonts/Florence/florsn25-webfont.woff2') format('woff2'),
       url('fonts/Florence/florsn25-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'florencesans_scitalic';
  src: url('fonts/Florence/florsn20-webfont.woff2') format('woff2'),
       url('fonts/Florence/florsn20-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*---------------BODY-------------------*/
html, body {
  margin: 0;
  padding: 0;
  outline: 0;
  display: block;
  font-family: 'Zilla Slab';
  font-size: 18px;
  background-color: #000000;
  color: #606060;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility; }

/*-------------TYPOGRAPHY----------------*/
  
  h1{
    font-family: 'florencesans_sc_expbold' !important;
    letter-spacing: 0.05em;
  }
  


h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-style: italic;
}

h3 {
  font-family: 'florencesans_sc_expregular';
  font-size: 2.7rem;

} 

h4 {
  font-family: 'florencesans_scregular';

}

h5 {
  font-family: 'Josefin Sans', sans-serif;
font-variant: small-caps;
font-size: 1.4rem;
}

h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;

}

p, a, li {
  font-family: 'Zilla Slab', serif;
}

/* h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

p, a, li {
  font-weight: 400; } */




p, blockquote {
  color: #606060;
  font-weight: 300; }

/*---------------COMPONENTS--------------*/
.shadow {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.15); }

a {
  color: #D32F89; }
  a:hover, a:active, a:focus {
    color: #dc59b7;
    text-decoration: none;
    outline: 0; }

.swiper-container {
  width: 100%;
  height: auto; }
  .swiper-container .swiper-slide {
    padding-bottom: 35px; }
  .swiper-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    bottom: 0;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
    margin-top: 20px; }
  .swiper-container .swiper-pagination-bullet-active {
    opacity: 1;
    background: #455A64; }

.active-cat {
  color: #ffffff;
  border-bottom: 2px solid #D32F89; }

.custom-btn {
  background-color: #D32F89 !important; }
  .custom-btn:hover {
    color: #fff;
    outline: 0;
    background-color: #962060 !important; }
  .custom-btn:focus {
    color: #fff;
    outline: 0;
    background-color: #D32F89 !important; }
  .custom-btn:active {
    color: #fff;
    outline: 0;
    background-color: #D32F89 !important; }
    .custom-btn:active:hover {
      color: #fff;
      outline: 0;
      background-color: #D32F89 !important; }
    .custom-btn:active:focus {
      color: #fff;
      outline: 0;
      background-color: #D32F89 !important; }

.back-to-top {
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .back-to-top.back-to-top-is-visible {
    visibility: visible;
    opacity: 1; }

    
/*---------------PAGE LOADER-------------------*/
#page-loader {
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 6000;
  margin-top: 0px;
  top: 0px; }
  #page-loader .text-div {
    width: 100%;
    position: absolute;
    top: 270px;
    color: #ffffff; }
    #page-loader .text-div p, #page-loader .text-div h6 {
      margin: 0;
      display: block;
      color: #ffffff;
      font-size: .9em;
      letter-spacing: 1px;
      font-weight: 300;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29); }
    #page-loader .text-div h6 {
      margin-top: 5px;
      font-size: 1.3em; }

.spinner {
  width: 50px;
  height: 50px;
  background-color: #D32F89;
  margin: 200px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/*---------------SECTION STRUCTURE-------------------*/
.section {
  padding: 30px 0;
  background-color: transparent; }

.content-wrapper {
  width: 100%;
  height: auto;
  padding: 25px 20px; }

  h3.section-title {
    color: #553ab2;
    letter-spacing: .1em;
    text-shadow: 2px 2px 2px rgba(235, 235, 235, 0.85) !important;

  }
/*---------------CONTAINER STRUCTURE-------------------*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1100px; } }
/*---------------HEADER-------------------*/
#header {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #553ab2;
  /*---------------NAV-------------------*/ }
  #header nav {
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #9590da;
    box-shadow: 0px 0px 3px 1px #263137;
    /*---------------SIDE NAV-------------------*/ }
    #header nav ul li {
      line-height: 50px;
      height: 50px;
      color: #ffffff; }
      #header nav ul li a {
        color: #ffffff;
        font-size: 15px;
        padding: 0;
        padding: 0 20px; }
        #header nav ul li a:hover, #header nav ul li a:active, #header nav ul li a:focus {
          background-color: rgba(0, 0, 0, 0.2);
          color: #dc59b7;
          text-decoration: none; }
    #header nav .nav-icon:hover, #header nav .nav-icon:active, #header nav .nav-icon:focus {
      color: #ffffff;
      text-decoration: none; }
    #header nav .nav-icon i {
      font-size: 30px;
      line-height: 50px; }
    #header nav #side-nav {
      color: #606060;
      position: fixed;
      z-index: 4;
      bottom: 0;
      top: 0;
      left: -240px;
      width: 240px;
      background-color: #ffffff;
      overflow-y: auto;
      -webkit-overflow-y: auto;
      transition: all 300ms;
      -webkit-overflow-scrolling: touch; }
      #header nav #side-nav #nav-header {
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #455A64; }
        #header nav #side-nav #nav-header #nav-profile {
          position: relative;
          top: 10px;
          margin-bottom: 20px;
          width: 70px;
          height: 70px;
          border-radius: 50%; }
          #header nav #side-nav #nav-header #nav-profile img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
        #header nav #side-nav #nav-header h6 {
          position: relative;
          margin: 10px 0;
          color: #ffffff;
          font-size: 1.2em;
          font-weight: 300;
          line-height: 25px; }
      #header nav #side-nav #nav-link-wrapper {
        width: 100%;
        margin-top: 15px;
        padding-bottom: 25px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; }
        #header nav #side-nav #nav-link-wrapper ul li {
          line-height: 40px;
          width: 100%;
          height: 40px;
          padding: 0; }
          #header nav #side-nav #nav-link-wrapper ul li a {
            height: 40px;
            line-height: 40px;
            color: #606060;
            padding: 0;
            padding: 0 20px; }
            #header nav #side-nav #nav-link-wrapper ul li a:hover, #header nav #side-nav #nav-link-wrapper ul li a:active, #header nav #side-nav #nav-link-wrapper ul li a:focus {
              background: none;
              color: #D32F89;
              text-decoration: none; }
    #header nav #side-nav-mask {
      position: fixed;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      opacity: .1;
      visibility: hidden;
      z-index: 2;
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateZ(0);
      -webkit-transform: translateZ(0); }
      #header nav #side-nav-mask.visible {
        visibility: visible;
        opacity: 1; }
  #header h1 {
    margin-top: 75px;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 6px 3px 0 #000000; }
  #header h2 {
    margin-top: -25px;
    font-size: 1.4em;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 110px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29); }

/*---------------ABOUT-------------------*/
#about {
  position: relative;
  padding-top: 0;
  margin-top: 10px;
  height: auto;
  background-color: transparent; }
  #about #profile {
    animation-delay: 500ms;
    animation-duration: 1000ms;
    position: absolute;
    width: 180px;
    height: 180px;
    top: -97px;
    left: 50%;
    margin-left: -90px;
    z-index: 1;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2); }
    #profpic img {
      width: 220px;
      height: 220px;
      border: 6px solid #9590da;
      border-radius: 50%;
      margin: 10px auto 20px;
      display: block;
      margin-top: -90px;
    }
    #about h3 {
      font-family: 'florencesans_scitalic';
      font-size: 2.8rem;
      letter-spacing: .2em;
      color: #9ea0b4;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    } 
    #about #intro-div {
    padding: 30px 0; }
    #about #intro-div ul {
      padding: 0 5px;
      margin-top: 30px; }
      #about #intro-div ul li a i {
        font-size: 40px;
        opacity: .5;
        margin: 0 5px; }
        #about #intro-div ul li a i:hover {
          color: #455A64;
          opacity: 1; }
    #about #intro-div p {
      padding: 0 5%;
      margin: 32px 0; 
      color: #000000;
    }
    #about #intro-div .btn {
      width: 180px;
      height: auto;
      margin: 10px 10px; }
#intro-header {
  text-align: center;
}
/*---------------TIMELINE - EXPERIENCE AND EDUCATION TIMELINE-------------------*/
.timeline {
  margin-top: 15px;
  width: 100%;
  height: auto; }

.timeline:before {
  content: '';
  position: absolute;
  height: 90%;
  width: 2px;
  background: #D32F89;
  left: 0px; }

.timeline ul {
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%; }

.timeline li {
  background: #ffffff;
  position: relative;
  left: 25px;
  width: 95%;
  margin-bottom: 20px; }
  .timeline li i {
    font-size: 25px;
    color: #D32F89;
    position: absolute;
    top: -11px;
    left: -46px; }

.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #26a9ed;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0; }

@media screen and (max-width: 480px) {
  .timeline li {
    width: 92%; } }
@media screen and (min-width: 768px) {
  .timeline:before {
    left: 50%; }

  .timeline ul {
    padding-left: 0;
    width: 100%;
    margin: 0 auto; }

  .timeline li {
    left: 0;
    width: 43%; }

  /* Right Side */
  .timeline li:nth-child(even) {
    float: right;
    margin-top: 70px; }

  .timeline li:nth-child(even):before {
    border-top: 2em solid #26a9ed;
    border-left: 2em solid transparent;
    position: absolute;
    left: -2em;
    top: 0; }

  .timeline li:nth-child(even) i {
    position: absolute;
    left: -18.25%; }

  /* Left Side */
  .timeline li:nth-child(odd) {
    float: left; }

  .timeline li:nth-child(odd):before {
    border-top: 2em solid #26a9ed;
    border-right: 2em solid transparent;
    right: -2em;
    left: auto; }

  .timeline li:nth-child(odd) i {
    position: absolute;
    left: 114.25%; }

  .timeline li:nth-of-type(2n+1) {
    clear: both; } }
@media screen and (min-width: 768px) and (max-width: 1001px) {
  .timeline li:nth-child(even) i {
    position: absolute;
    left: -19%; }

  .timeline li:nth-child(odd) i {
    position: absolute;
    left: 113%; } }
.timeline-content .timeline-header {
  width: 100%;
  height: auto;
  background-color: #26a9ed;
  float: left;
  margin-bottom: 20px; }
.timeline-content h4 {
  padding: 20px 20px 0px;
  margin-top: -15px;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
  font-size: 1.3em;
  font-weight: 400;
  background-color: #26a9ed; }

  .timeline-content h5 {
    font-size: 1.1rem;
    font-weight: 300;

  }
  .timeline-content h6{
    font-size: 1rem;
    font-weight: 300 !important;
    font-style: italic;
  }
.timeline-content .sub-heading {
  text-decoration: none;
  color: #26a9ed;
  padding: 0 20px;
  line-height: 1.2;
  font-weight: 400; }
.timeline-content .content-p {
  padding: 10px 20px 20px 20px;
  font-weight: 300; }

/*---------------SKILLS-------------------*/
.skill {
  padding: 20px 20px;
  color: #ffffff; }

.skill-title {
  margin-top: 20px;
  margin-bottom: 40px; }

.skill-wrapper {
  background-color: #26a9ed;
  color: #ffffff; }

.skill-progress-div {
  margin-bottom: 22px; }
  .skill-progress-div p {
    color: #ffffff; }
    .skill-progress-div p span {
      float: right; }

.skill-progress {
  position: relative;
  background-color: #0b5487;
  margin: 15px 0;
  height: 3px;
  z-index: 0;
  overflow: visible; }

.skill-determinate {
  position: absolute;
  height: 3px;
  background-color: #ffffff; }
  .skill-determinate .skill-determinate-circle {
    position: absolute;
    right: 0%;
    top: -7px;
    color: #ffffff;
    font-size: 18px; }

    #services h5 {
      font-size: 1.2rem;
      font-weight:700;

    }
#services ul {
  margin-bottom: 0; }
#services .service-item {
  background-color: #ffffff;
  padding: 10px 20px 40px 20px; }
  #services .service-item i {
    font-size: 70px;
    color: #26a9ed; }
  #services .service-item h5 {
    margin: 0;
    line-height: 1.4;
    font-size: 1.25em;
    font-weight: 700;
    color: #139ee6;
    padding-bottom: 20px; }
  #services .service-item p {
    color: #139ee6; }
#services li:nth-child(even) .service-item {
  background-color: #26a9ed;
  color: #ffffff; }
  #services li:nth-child(even) .service-item i {
    color: #ffffff; }
  #services li:nth-child(even) .service-item h5, #services li:nth-child(even) .service-item p {
    color: #ffffff; }



/*---------------INTEREST-------------------*/
.interest {
  padding: 30px 20px 20px 20px; }
  .interest p {
    width: 100%;
    height: auto;
    padding: 0 80px;
    margin: 20px 0; }
    @media only screen and (max-width: 640px) {
      .interest p {
        padding: 0;
        margin-top: 0; } }
  .interest .interest-topic {
    margin: 10px 15px; }
    .interest .interest-topic i {
      display: block;
      font-size: 35px;
      padding: 0;
      color: #26a9ed; }
    .interest .interest-topic span {
      display: block; }

/*---------------CONTACT-------------------*/
/*---------------INFORMATION-------------------*/
.info {
  width: 100%;
  background-color: #26a9ed;
  min-height: 480px;
  height: auto; }
  .info ul {
    padding: 30px 20px;
    display: block; }
    .info ul li {
      margin-bottom: 15px;
      letter-spacing: 1px;
      display: block;
      color: #ffffff;
      font-size: 1em;
      font-weight: 300;
      display: block; }
      .info ul li i {
        color: #ffffff;
        font-size: 30px; }

/*---------------CONTACT FORM-------------------*/
.contact {
  width: 100%;
  min-height: 480px;
  height: auto;
  /* Snackbar
  -------------------------------------------------*/
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  /* Animations to fade the snackbar in and out */ }
  .contact form {
    padding: 20px 40px; }
    @media screen and (max-width: 767px) {
      .contact form {
        padding: 20px 20px; } }
    .contact form button {
      width: 150px;
      top: 20px;
      margin-bottom: 25px; }
      .contact form button i {
        margin-right: 10px;
        vertical-align: middle; }
  .contact .progress {
    position: relative;
    height: 3px;
    display: block;
    width: 100%;
    background-color: #26a9ed;
    border-radius: 0;
    margin: 0;
    top: 0; }
  .contact .is-hidden {
    visibility: hidden; }
  .contact #snackbar, .contact #fail-snackbar {
    visibility: hidden;
    min-width: 300px;
    margin-left: -150px;
    font-weight: 300;
    background-color: #26a9ed;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px; }
  .contact .show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; }
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }


/*---------------FOOTER-------------------*/
footer {
  width: 100%;
  margin-top: 40px;
  height: auto;
  background-color: #9590da;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  footer p {
    margin: 10px 0;
    line-height: 30px; 
  color: rgb(197, 192, 200)}
  footer a, strong {
    color: white;
  }

#blog-header {
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  background: url("../images/blog-header.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  #blog-header .overlay {
    width: 100%;
    height: 300px;
    background-color: rgba(69, 90, 100, 0.6); }
    #blog-header .overlay h1 {
      font-family: 'florencesans_sc_expbold';
      margin-top: 120px;
      font-size: 3em;
      font-weight: 500;
      color: #ffffff; }
  #blog-header .home-btn {
    width: 40px;
    position: fixed;
    left: 0;
    top: 125px;
    height: 40px;
    cursor: pointer;
    padding-top: 3px; }
    #blog-header .home-btn i {
      color: #ffffff;
      font-size: 25px; }

.blog-page {
  margin-top: 20px; }
  .blog-page .blog-posts-wrapper {
    margin-top: -8px; }
  .blog-page .pagination {
    margin: 30px 0 30px 0; }
  .blog-page .pagination li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10px;
    line-height: 30px;
    text-align: center; }
  .blog-page .pagination li a {
    color: #606060; }
  .blog-page .pagination li.active a {
    color: #fff; }
  .blog-page .pagination li.active {
    background-color: #D32F89; }
  .blog-page .pagination li.disabled a {
    cursor: default;
    color: #999; }
  .blog-page .pagination li i {
    font-size: 2.1rem;
    vertical-align: middle; }
  .blog-page .pagination li.pages ul li {
    display: inline-block;
    float: none; }
  @media only screen and (max-width: 992px) {
    .blog-page .pagination {
      width: 100%; }
    .blog-page .pagination li.prev,
    .blog-page .pagination li.next {
      width: 10%; }
    .blog-page .pagination li.pages {
      width: 80%;
      overflow: hidden;
      white-space: nowrap; } }
  .blog-page .sidebar {
    width: 100%;
    background-color: transparent;
    position: relative; }
    @media screen and (max-width: 991px) {
      .blog-page .sidebar {
        margin-top: 30px; } }
    .blog-page .sidebar .card {
      padding: 15px 15px;
      margin: 0 0 20px 0; }
    .blog-page .sidebar .search {
      width: 100%;
      height: auto;
      background-color: #ffffff; }
      .blog-page .sidebar .search form .search-btn {
        background-color: #D32F89;
        z-index: 0; }
        .blog-page .sidebar .search form .search-btn i {
          font-size: 20px; }
    .blog-page .sidebar .title {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 15px 15px;
      font-weight: 400;
      color: #ffffff;
      background-color: #455A64;
      line-height: 30px;
      font-size: 1.2em; }
    .blog-page .sidebar .category {
      padding-top: 15px; }
      .blog-page .sidebar .category li {
        display: inline-block;
        background-color: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 6px 14px;
        margin: 0 10px 15px 0; }
        .blog-page .sidebar .category li a {
          font-weight: 300;
          color: #606060; }
    .blog-page .sidebar .sidebar-post a {
      color: #606060; }
      .blog-page .sidebar .sidebar-post a h6 {
        margin-left: -15px;
        line-height: 1.3;
        font-weight: 400;
        font-size: 1em; }
      .blog-page .sidebar .sidebar-post a:hover {
        text-decoration: underline;
        color: #D32F89; }
    .blog-page .sidebar .sidebar-post p {
      margin-left: -15px;
      font-weight: 300;
      font-size: 1em;
      line-height: 1.3; }
    .blog-page .sidebar .sidebar-post .author-profile {
      margin-top: 20px;
      margin-bottom: 30px; }
    .blog-page .sidebar .sidebar-post .author-info {
      margin: 0;
      padding-bottom: 10px; }
    .blog-page .sidebar .sidebar-post .visit-profile {
      padding: 0px 30px;
      margin: 28px 0;
      color: #ffffff; }
      .blog-page .sidebar .sidebar-post .visit-profile:hover {
        color: #ffffff;
        text-decoration: none; }
    .blog-page .sidebar .sidebar-post .follow-social {
      margin: 10px 10px;
      color: #455A64;
      font-size: 30px; }
      .blog-page .sidebar .sidebar-post .follow-social:hover {
        color: #D32F89; }

.full-post {
  padding-bottom: 30px; }
  .full-post:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .full-post .full-post-p {
    margin-top: 15px;
    padding: 0; }
  .full-post .post-title h5 {
    margin: 0;
    line-height: 1.5;
    font-size: 2em;
    font-weight: 400;
    color: #606060;
    padding: 20px 0; }
  .full-post .post-subtitle {
    margin: 10px 0 -10px 0;
    line-height: 1.5;
    font-size: 1.25em;
    font-weight: 400;
    color: #606060; }
  .full-post .post-list {
    margin-top: 15px;
    padding-left: 15px; }
    .full-post .post-list li {
      list-style: circle;
      font-weight: 300; }
  .full-post .tags {
    padding-left: 20px; }
    .full-post .tags i {
      font-size: 25px;
      padding-top: 5px;
      vertical-align: middle; }
    .full-post .tags span {
      font-weight: 400;
      font-size: 1em;
      margin-left: 20px; }

.comment-box, .posted-comment {
  padding: 20px 20px;
  font-weight: 300;
  color: #606060;
  height: auto; }
  .comment-box h6, .posted-comment h6 {
    font-weight: 400;
    color: #606060; }

.posted-comment .media-body {
  padding-left: 10px; }
  .posted-comment .media-body span {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px; }
  .posted-comment .media-body .comment-icons li {
    margin-right: 10px; }
    .posted-comment .media-body .comment-icons li i {
      color: #606060;
      font-size: 20px; }
      .posted-comment .media-body .comment-icons li i:hover {
        color: #D32F89; }

/*# sourceMappingURL=style.css.map */
